@page "/assistant"
@using Frontend.Shared
@using Frontend.Models

<PageTitle>Assistant</PageTitle>
<div  class="index-container">

<h1>Research Assistant</h1>
<p class="chat-text" ></p>

<div class="chat-history">
        @foreach (var message in chatHistory)
        {
            <div class="@(message.IsAssistant ? "assistant-message" : "user-message")">
              @if (message.IsAssistant ) {
                <p>Assistant: @message.Content</p>
              }
              else
              {
                 <p>User: @message.Content</p>
              }
            </div>
        }
    </div>

<EditForm Model="@chat">
<InputText @bind-Value="assistantAnswer" />
<button type="submit" >Send </button>
</EditForm>
    
</div>

@code
{
  ChatModel chat = new();
  private string assistantAnswer= "Q:";

  private List<ChatModel> chatHistory = new List<ChatModel>();

    protected override void OnInitialized()
    {
        chatHistory.Add(new ChatModel { Content = "Hello, how can I assist you today?", IsAssistant = true });
        chatHistory.Add(new ChatModel { Content = "What is the main Idea of the abstracts in the file?", IsAssistant = false });
        chatHistory.Add(new ChatModel { Content = "The abstracts provided touch on various aspects of gender, race, and networking within organizational and professional settings", IsAssistant = true });

    }

}
