@page "/new"
<PageTitle>New research</PageTitle>

<div class="main">

<div class="form-container">


    <EditForm Model="@registration" OnValidSubmit="HandleFormSubmission">

        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>

        <label for="ResearcherFullName">Researcher Full Name: </label>
        <InputText class="form-input" id="ResearcherFullName" @bind-Value="@registration.ResearcherFullName"></InputText>
     

        <label for="ResearcherEmailAdress">ResearcherEmailAdress: </label>
        <InputText class="form-input" id="ResearcherEmailAdress" type="email" @bind-Value="@registration.ResearcherEmailAdress">
        </InputText>

        <label for="ResearchName">ResearchName: </label>
        <InputText class="form-input" id="ResearchName" @bind-Value="@registration.ResearchName">ResearchName: </InputText>

        <button type="submit">Create a new research</button>

    </EditForm>
</div>
</div>

@code {
    Data.ResearchRegistration registration = new();

    public void HandleFormSubmission(EditContext context)
    {
          Console.WriteLine(registration.ResearchName);
          Console.WriteLine(registration.ResearcherEmailAdress);
          Console.WriteLine(registration.ResearchName);
    }
}
