::deep .form-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  color: #FEF4EA;
  font-size: 1.4rem;
}

button {
  font-size: 1.4rem;
}


button:hover {
  background-color: #102A43;
  color: #FEF4EA;
}

.form-container {
  max-width: 70%;
  margin-bottom: 50px;
  border-radius: 5px;
  background-color: #547185;
  padding: 20px;
}