@page "/uploadfile"
@using Frontend.Shared


<div class="index-container">
    @if (!fileUploaded)
    {
        <UploadFile OnFileUploaded="HandleFileUploaded" />
    }
    else
    {
        <AiAssistant />
    }
</div>

@code {
    private bool fileUploaded = false;

    private void HandleFileUploaded()
    {
        fileUploaded = true;
    }
}
